canvas {
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
	padding-left: 0;
	padding-right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 1000px;
    position: absolute;
	
}
canvas2 {
	height: 100px;
	width:  120px;
    position: absolute;
    left: 20px;
    top: 570px;
}